@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;

    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    //Header-upload
    --default-layout-color-header: #161823;
    --hover-background: rgba(22, 24, 35, 0.03);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0);
    }
    &::-webkit-scrollbar {
        width: 8px; /* Chiều rộng vùng chứa scrollbar */
    }
}

.icon {
    font-size: 0;
}
h4 {
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #161823;
    display: flex;
}
